header{
    display: flex;
    width: 1440px;
    height: 80px;
     justify-content: space-between;
     align-items: center;
}
.header_right{
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.header_sns{
    display: flex;
    gap: 16px;
}
footer{
    width: 1440px;
    height: 360px;
}
.footer_inner_top{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
    padding: 30px;
}
.footer_inner_bottom{
    text-align: center;
}