body{
    font-family: 'Noto Sans JP', sans-serif;
}


header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 2;
}

#headerContent{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    margin-left: 30px;
}

#headerNav{
    width: 280px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 15px;
}

.linkLetter{
    color: #666;
}

header .linkLetter, #lineSection .linkLetter{
    font-weight: bold;
}

.snsButton{
    border-radius: 25px;
    border: 1px solid #bbb;
    position: relative;
    bottom: 2px;
    padding: 8px;
}

.snsButton img{
    width: 25px;
    height: 25px;
    position: relative;
    top: 3px;
    color: #adadad;
}

#lineBanner{
    width: 300px;
    height: 80px;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.15em;
    line-height: 20px;
    background-color: #5fdf5b;
    border-radius: 15px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: flex;
    align-items: center;
}

#lineBanner img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#lineBanner i{
    font-size: 25px;
    color: #fff;
    position: relative;
    left: 40px;
}


main{
    margin-top: 80px;
}

.mainContent{
    margin: 160px auto;
}


#visualSection{
    width: 100%;
    position: relative;
}

#visualSection img{
    width: 100%;
}

#visualContent{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55%;
    left: 22%;
    transform: translate(-50%, -50%);
}

#visualSection h1{
    color: #fff;
    font-size: 64px;
    font-weight: bold;
    display: block;
}

#visualSubHeading{
    color: #fff;
    font-size: 16px;
    margin-bottom: 36px;
}


#quizSection{
    width: 70%;
    margin: 0 15%;
}

.quizQuestion{
    margin: 100px 0;
}

.quizNumber{
    width: 90px;
    height: 65px;
    margin: 30px 0;
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 36px;
    font-weight: bold;
    background-color: #0071bc;
    border-radius: 8px;
}

#quizText{
    margin: 15px 0;
    color: #333;
    font-size: 36px;
    font-weight: bold;
    line-height: 54px;
}

.quizImg{
    width: 80%;
    margin: 60px 10%;
    display: flex;
    justify-content: center;
}

.quizAnswer{
    width: 60px;
    height: 65px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 36px;
    font-weight: bold;
    background-color: #e34e70;
    border-radius: 8px;
}

#quizChoices{
    display: flex;
    gap: 30px;
}

#quizChoices li{
    width: 350px;
    height: 80px;
    position: relative;
    margin: 15px 0;
    padding: 15px;
    color: #333;
    line-height: 40px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 8px;
    border: 5px solid #eee;
    cursor: pointer;
}

#quizChoices li img{
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - .5em);
    right: 1rem;
}

#quizChoices li:hover{
    background-color: #efefef;
    border: 5px solid #ddd;
}

#quizChoices li.correct, #quizChoices li.wrong{
    color: #0071bc;
    background-color: #eff2f5;
    border: 5px solid #0071bc;
}

#quizCorrect, #quizWrong{
    display: none;
}

#quizCorrect.correct{
    display: block;
    margin-bottom: 10px;
    padding: 24px 40px;
    background-color: #fff2f5;
    border-radius: 8px;
}

#quizCorrect h2{
    color: #e34e70;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.2rem;
    vertical-align: top;
}

#quizWrong.wrong{
    display: block;
    margin-bottom: 10px;
    padding: 24px 40px;
    background-color: #eff2f5;
    border-radius: 8px;
}

#quizWrong h2{
    color: #0071bc;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.2rem;
    vertical-align: top;
}

#quizCorrect p, #quizWrong p{
    margin-top: 24px;
    color: #333;
    font-weight: bold;
    vertical-align: top;
}

#quizCorrect span, #quizWrong span{
    margin-right: 1rem;
    color: #333;
    font-size: 24px;
}

.quizReference{
    color: #333;
    font-weight: bold;
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 8px;
}


#lineSection{
    position: relative;
}

#lineBackground{
    width: 1080px;
    height: 410px;
    background-size: cover;
    background-position: 50%;
    margin: 50px auto;
    background-image: url(../../img/bg-line.jpg);
    border-radius: 50px;
}

#lineBackground::after{
    content: "";
    display: inline-block;
    width: 1080px;
    height: 410px;
    border-radius: 50px;
    background-color: rgba(0, 113, 188, 0.85);
}

#lineContent{
    height: 40vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#lineContent h1{
    margin: 20px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

#lineContent img{
    width: 50px;
    height: 50px;
    position: relative;
    top: 5px;
}

#lineText{
    color: #fff;
    text-align: center;
    letter-spacing: 0.12em;
    line-height: 1.7;
}

#lineButton{
    position: relative;
    color: #666;
    background-color: #fff;
    margin: 20px;
    padding: 15px 150px;
    border-radius: 30px;
}

#lineButton img{
    width: 18px;
    height: 18px;
    position: absolute;
    top: calc(50% - .5em);
    right: 1rem;
}


footer{
    width: 100%;
}

.footerTop{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    padding: 40px;
    border-top: 1px solid #bbb;
}

#footerImg{
    transform: scale(1.1);
}

.footerTop i {
    font-size: 20px;
}

.footerBottom{
    height: 80px;
    text-align: center;
    padding: 15px;
    color: #666;
    border-top: 1px solid #bbb;
}